<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="api.utilities.ExtentReportManager"/>
    </listeners>
    <test thread-count="5" name="PetTests">
        <classes>
            <!--class name="api.test.DDTests"/-->
            <!--class name="api.test.UserTests"/-->
            <class name="api.test.userTestsUsingUserEndPoint2"/>
        </classes>
    </test>
</suite>